# Py cache folder
incomevis.egg-info
__pycache__

# Unused file
.DS_Store

# Data
data/data_benchmark/*.csv
data/deflated_data/*.csv
data/output/*.csv

# Sphinx documentation
docs/_build/

# Build
build
logo/.DS_Store

# Dist
dist

incomevis.egg-info/PKG-INFO
incomevis.egg-info/PKG-INFO

data/benchmark_data/*.csv

data/output_data/gallery_decile/*.jpg
data/output_data/gallery_decile_gender/*.jpg
data/output_data/gallery_percentile/*.jpg
data/output_data/gallery_decile/*.jpg

detangled.ipynb
data/hb_data/decile_all_year_matplotlib_HHINCOME2019.csv
